$primary-color: #007bff;
$font-size: 16px;
@mixin rounded-corners($radius) {
  border-radius: $radius;
}

body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: $primary-color;
  font-size: $font-size;
}

.header,
footer {
  background-color: lighten($primary-color, 40%);
  padding: 20px;
  text-align: center;
}

.feature-list li,
.example-text {
  @include rounded-corners(10px);
  padding: 10px;
  background-color: lighten($primary-color, 40%);
}

.header {
  h1 {
    font-size: 2em;
  }
}

.about {
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: $font-size;
  }
}

.features {
  h2 {
    font-size: 1.5em;
  }

  .feature-list {
    list-style-type: disc;
    padding-left: 20px;

    li {
      @include rounded-corners(5px);
      padding: 5px;
      margin-bottom: 5px;
      background-color: lighten($primary-color, 40%);
    }
  }
}

.example {
  h2 {
    font-size: 1.5em;
  }
  .example.text {
    @include rounded-corners(10px);
    padding: 10px;
    background-color: lighten($primary-color, 40%);
  }
}
