body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    color: #333;
}

header h1 {
    float: left;
    margin-left: 20px;;
}

header nav {
    float: right;
    margin: 30px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

.signup {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.signup:hover {
    background-color: #45a049;
    box-shadow: none;
}

.login:hover {
    background-color: #008099;
    box-shadow: none;
}


.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    border: 1px solid #bbb;
}

.row {
    overflow: hidden;
}

.column {
    float: left;
    width: 30%;
    margin: 1.66%;
    background-color: #e2e2e2;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.post img {
    float: left;
    width: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        float: none;
        margin: 0px;
    }
    .post img {
        float: none;
        width: 100%;
        margin: 0px;
    }
    header h1, header nav {
        float: none;
        text-align: center;
    }
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
    header nav ul li a {
        display: block;
        padding: 10px;
    }
    .signup, .login {
        width: 45%;
        text-align: center;
        margin: auto;
    }
    .column {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .column h3 {
        font-size: 20px;
    }
    .column p {
        font-size: 14px;
    }
}